<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <div class="row">
                    <div class="col-10">        
                        <h1 class="page-title">Dashboard</h1>
                    </div>
                    <div class="col-2">
                        <h6 (click)="openInfo()">Need Help? &#x24D8;</h6>                
                    </div>
                </div>            
            </div>
            <hr>
            <div class="col-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle style="background-color: rgb(255, 57, 57); color: white;">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="color: white;">
                                <i class="fa fa-bullhorn"></i>
                                &nbsp;
                                &nbsp;
                                <h6>Announcement:</h6> 
                            </mat-panel-title>
                            <mat-panel-description style="color: white;">Message from Chairman of the Floating City Main Association</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-6">
                                <mat-card>
                                    <mat-card-content>
                                        <pdf-viewer [src]="arUrl" [original-size]="false" style="height: 100%; width: 100%;"></pdf-viewer>
                                        <button class="btn btn-primary" (click)="downloadAr()">
                                            <i class="fa fa-download"></i>
                                        </button>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-6">
                                <mat-card>
                                    <mat-card-content>
                                        <pdf-viewer [src]="enUrl" [original-size]="false" style="height: 100%; width: 100%;"></pdf-viewer>
                                        <button class="btn btn-primary" (click)="downloadEn()">
                                            <i class="fa fa-download"></i>
                                        </button>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!--<mat-expansion-panel hideToggle style="background-color: rgb(255, 57, 57); color: white;">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="color: white;">
                                <i class="fa fa-bullhorn"></i>
                                &nbsp;
                                &nbsp;
                                <h6>Announcement:</h6> 
                            </mat-panel-title>
                            <mat-panel-description style="color: white;">Nominations of Candidates for Floating City Owners Association Board Election now open!</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-6">
                                <h5 style="text-align: center; "><u>Announcement</u></h5>
                                <p style="text-align: justify;"><b>Dear Members of the Floating City Owners Association,</b></p>
                                <p style="text-align: justify;"><u>Subject: Announcement of Board of Directors Nominations for the Floating City Owners Association</u></p>
                                <p style="text-align: justify;">We would like to inform you that the date of the upcoming regular general assembly meeting of the Floating City Owners Association will soon be set. As the current Board of Directors' term has expired, nominations for the Floating City Board of Directors are now open.
                                </p>
                                <p style="text-align: justify;">If you are interested in nominating yourself for the Board of Directors, please fill out the nomination form and submit it through the website at www.floatingcityamwaj.com<br><br>The requirements to be eligible for the Board of Directors are:
                                </p>
                                <ol>
                                    <li>You must be an owner of a property in the Floating City.</li>
                                    <li>You must be a resident of the Kingdom of Bahrain.</li>
                                    <li>Only one member per property can be nominated.</li>
                                    <li>You must not have been convicted of bankruptcy in the last 5 years, as per Article 35 of Resolution No. 1, 2020.</li>
                                    <li>Your association must have paid its full annual fees.</li>
                                </ol>
                                <p style="text-align: justify;">The following documents must be submitted along with the nomination form:
                                </p>
                                <ol>
                                    <li>A personal photo (passport-size).</li>
                                    <li>Copy of your ID card.</li>
                                    <li>Copy of your passport.</li>
                                    <li>Copy of your property ownership document.</li>
                                    <li>Certificate of good conduct.</li>
                                    <li>Clearance certificate from the Floating City accountant</li>
                                </ol>
                                <p style="text-align: justify;">The deadline for submitting applications for candidacy for membership in the Board of Directors of the Floating City Main Owners Association is August 18, 2024. No applications for candidacy will be accepted after this date. The owners will vote for their chosen candidate to be elected to membership in the Board of Directors.
                                </p>
                                <p style="text-align: justify;"><u>For company-owned units:</u></p>
                                <ul>
                                    <li>Please stamp the form with the company seal and include the authorized signature.</li>
                                    <li>Provide a copy of the commercial registration and authorization documents.</li>
                                    <li>If the unit is bank-owned, provide a copy of the sales contract and a no-objection letter from the bank.</li>
                                </ul>
                            </div>
                            <div class="col-6" dir="rtl" lang="ar" style="float: right;text-align: right; ">
                                <h5 style="text-align: center; "><u>الإعلان</u></h5>
                                <p style="text-align: justify; "><b>السادة اعضاء الجمعية العمومية لاتحاد ملاك المدينة العائمة الموقرين</b></p>
                                <p style="text-align: justify; "><u>الموضوع : إعلان فتح باب الترشح لعضوية مجلس إدارة جمعية اتحاد ملاك المدينة العائمة</u></p><br>
                                <p dir="rtl" lang="ar" style="float: right;text-align: right;text-align: justify;">
                                    نود إحاطتكم علماً بأنه سيتم قريباً تحديد موعد انعقاد الجمعية العمومية الاعتيادية لجمعية اتحاد ملاك المدينة العائمة ، وحيث إن فترة عضوية أعضاء مجلس الإدارة الحالي قد انتهت فقد تم فتح باب الترشح لعضوية مجلس
                                     إدارة جمعية اتحاد الملاك الجديد.</p>                    
                                <p dir="rtl" lang="ar" style="float: right;text-align: right;text-align: justify;">إذا كنت ترغب في الترشح لعضوية مجلس الإدارة، يرجى ملء نموذج الترشح والتقدم به عبر الموقع الإلكتروني www.floatingcityamwaj.com .<br><br>يجب أن تتوفر في المرشح الشروط التالية:
                                </p>
                                <ol>
                                    <li>أن يكون من ملاك الوحدات في المدينة العائمة</li>
                                    <li>أن يكون مقيماً في مملكة البحرين</li>
                                    <li> ألا يمثل المالك بأكثر من عضو في مجلس الإدارة</li>
                                    <li> ألا يكون محكوماً عليه بالإفلاس خلال الخمس سنوات السابقة على الترشح وفقاً للمادة 35 من القرار رقم 1 2020</li>
                                </ol>
                                <p dir="rtl" lang="ar" style="float: right;text-align: right;text-align: justify;">
                                    بالنسبة لأعضاء الاتحادات الفرعية، يجوز لرئيس المجلس الترشح لعضوية مجلس إدارة المدينة العائمة أو تخويل أي عضو من أعضاء
                                    
                                    الاتحاد الفرعي، وذلك عن طريق عقد اجتماع للجمعية العمومية وتخويله بالنيابة عن رئيس المجلس بالترشح وحضور اجتماع الجمعية
                                    
                                    العمومية للمدينة العائمة، والحصول على موافقة أكثر من 50% من أعضاء الاتحاد الفرعي . ويجب أن يكون الاتحاد الفرعي مسدد كامل
                                    
                                    الرسوم السنوية الخاصة به.
                                    
                                    </p>
                                <p style="text-align: justify; ">المرفقات المطلوبة مع استمارة الترشح
                                </p>
                                <ol>
                                    <li>
                                        صورة شخصية (نفس مواصفات صورة جواز السفر )</li>
                                    <li> صورة من بطاقة الهوية</li>
                                    <li> صورة من جواز السفر</li>
                                    <li>صورة من وثيقة الملكية</li>
                                    <li>شهادة حسن السيرة والسلوك</li>
                                    <li>شهادة بسداد الرسوم السنوية لغاية 31 مارس 2024 من محاسب المدينة العائمة</li>
                                </ol>
                                <p style="text-align: justify; ">
                                    أخر موعد لتسليم طلبات الترشح لعضوية مجلس ادارة اتحاد المدينة العائمة هو 18 أغسطس 2024 ولن تقبل اي طلبات للترشح بعد هذا
                                    
                                    التاريخ سيصوت الملاك لمرشهم المختار ليتم انتخابه لعضوية مجلس الادارة سيصبح المرشحون الذين حصلوا على أكثر عدد من الأصوات أعضاء مجلس ادارة جمعية اتحاد المدينة العائمة</p>
                                <p style="text-align: justify;"><u>
                                    ملاحظة للشركات</u>                  
                                </p>
                                <ul>
                                    <li>يرجى ختم هذه الاستمارة بالختم الرسمي للشركة وتوقيعها بالتوقيع المصرح به.
                                    </li>
                                    <li>
                                        مع إرفاق نسخة من السجل التجاري ومستخرج السجل، بالإضافة إلى نموذج الوكالة / التخويل.</li>
                                    <li>في حال كانت الوحدة مملوكة عن طريق البنك، يرجى تزويدنا بنسخة من عقد البيع ورسالة عدم ممانعة من البنك</li>
                                </ul>
                            </div>
                        </div>
                        <button mat-raised-button class="btn btn-danger btn-block" style="float: center;" (click)="openNomination()" title="Open Nomination">
                            <mat-icon>how_to_reg</mat-icon> File Your Nomination Here
                        </button> 
                    </mat-expansion-panel>-->               
                    <mat-expansion-panel hideToggle style="background-color: goldenrod; color: white">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="color: white;"> 
                                <i class="fa fa-bullhorn"></i>
                                &nbsp;
                                &nbsp;
                                <h6>Announcement:</h6> 
                            </mat-panel-title>
                            <mat-panel-description style="color: white;"> Register to vote in Board election and AGM 2023-24 </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-6">
                                <h5 style="text-align: center; "><u>Announcement</u></h5><br>
                                <p style="text-align: justify;"><b>Dear Floating City Owners Association</b></p>
                                <p style="text-align: justify;"><u>Subject: HOA General Assembly Meeting Registration for the year 2023-2024</u></p>
                                <p style="text-align: justify; ">To register your interest to attend the Annual General Body Meeting 2023-2024, please click the link below and follow the steps. The eligibility of your attendance for the AGM will be subject to scrutiny of your documents such as your Government ID (CPR, Passport, etc.), your property Title Deeds, and the EWA Payment Receipt. Registering your intent to attend the AGM will allow you to vote on Bylaws and the upcoming Floating City Owners Association Board Election.</p>
                            </div>
                            <div class="col-6" dir="rtl" lang="ar" style="float: right;text-align: right; ">
                                <h5 style="text-align: center; "><u>الإعلان</u></h5>
                                <p style="text-align: justify; "><b>السادة أعضاء الجمعية العمومية لاتحاد ملاك المدينة العائمة الرئيسي</b></p>
                                <p style="text-align: justify; "><u>الموضوع: عقد جمعية عمومية اعتيادية لإتحاد ملاك المدينة العائمة الرئيسي لعام 2023-2024</u></p>
                                <p style="text-align: justify;">لتسجيل اهتمامك بحضور اجتماع الهيئة العامة السنوي 2023-2024، يرجى النقر على الرابط أدناه واتباع الخطوات. ستخضع أهلية حضورك لاجتماع الجمعية العمومية السنوي لتدقيق مستنداتك مثل بطاقة الهوية الحكومية (البطاقة الشخصية، جواز السفر)، وسندات ملكية الممتلكات الخاصة بك، وإيصال دفع EWA. إن تسجيل نيتك لحضور الاجتماع السنوي العام سيسمح لك بالتصويت على اللوائح الداخلية وانتخابات مجلس إدارة جمعية مالكي المدن العائمة القادمة.</p>
                            </div>
                        </div>
                        <button mat-raised-button class="btn btn-warning btn-lg" style="float: center; width: 100%;" (click)="openRegisteration()" title="Open Registration">
                            <mat-icon>how_to_reg</mat-icon> Register your interest to attend the AGM here
                        </button> 
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle style="background-color: rgb(76, 182, 31); color: white;">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="color: white;"> 
                                <i class="fa fa-bullhorn"></i>
                                &nbsp;
                                &nbsp;
                                <h6>Announcement:</h6> 
                            </mat-panel-title>
                            <mat-panel-description style="color: white;"> General Assembly Meeting Dates 2023-2024</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-6">
                                <img [src]="imgArUrl" *ngIf="imgArUrl" style="width:100%">
                            </div>
                            <div class="col-6" dir="rtl" lang="ar" style="float: right;text-align: right; ">
                                <img [src]="imgEnUrl" *ngIf="imgEnUrl" style="width:100%">
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle style="background-color: rgb(0, 150, 255); color: white;">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="color: white;">
                                <i class="fa fa-bullhorn"></i>
                                &nbsp;
                                &nbsp;
                                <h6>Announcement:</h6> 
                            </mat-panel-title>
                            <mat-panel-description style="color: white;">Nominations for Floating City Association Board Election have now been closed!</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-6">
                                <h5 style="text-align: center; "><u>Announcement</u></h5>
                                <p style="text-align: justify;"><b>Dear Members of the Floating City Owners Association,</b></p>
                                <p style="text-align: justify;">Board nominations are now closed for Floating City Main Owners Association.</p>
                                <p style="text-align: justify;">Announcement for the AGM will be out very soon and looking forward to meet you all soon.</p>
                            </div>
                            <div class="col-6" dir="rtl" lang="ar" style="float: right;text-align: right; ">
                                <h5 style="text-align: center; "><u>الإعلان</u></h5>
                                <p style="text-align: justify; "><b>السادة اعضاء الجمعية العمومية لاتحاد ملاك المدينة العائمة الموقرين</b></p>
                                <p dir="rtl" lang="ar" style="float: right;text-align: right;text-align: justify;">تم الآن إغلاق باب الترشيح لعضوية مجلس الإدارة لجمعية أصحاب المدينة الرئيسية العائمة.</p>                    
                                <p dir="rtl" lang="ar" style="float: right;text-align: right;text-align: justify;">سيتم الإعلان عن الاجتماع العام السنوي قريبًا جدًا ونتطلع إلى لقائكم جميعًا قريبًا.</p>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <hr>
            <div class="col-12">
                <h6 class="heading-title">How to use the FC Portal?</h6>
                <mat-tab-group>
                    <mat-tab label="Sign Up">
                        <div class="video">
                            <video controls #videoPlayer style="width: 100%;">
                                <source src="{{signupvideoSource}}" type="video/mp4" />
                                Browser not supported
                            </video>
                        </div>
                    </mat-tab>
                    <mat-tab label="Nomination for Board Election">
                        <div class="video">
                            <video controls #videoPlayer style="width: 100%;">
                                <source src="{{nominationvideoSource}}" type="video/mp4" />
                                Browser not supported
                            </video>
                        </div>
                    </mat-tab>
                    <mat-tab label="Voting">
                        <div class="video">
                            <video controls #videoPlayer style="width: 100%;">
                                <source src="{{votevideoSource}}" type="video/mp4" />
                                Browser not supported
                            </video>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <br>
            <div class="col-12">
                <ng-template #AGMLookupDialog >
                    <h3 matDialogTitle>
                        <b>Register for AGM 2023-24</b>
                    </h3>
                    <hr>
                    <div mat-dialog-content>
                        <form class="form-container" [formGroup]="propertyForm">
                            <div class="row">
                                <div class="col-6">
                                    <h6>Please confirm the validity of the below mentioned details. If there are any discrepancies, kindly notify us via email: info@floatingcityamwaj.com</h6>
                                    <div class="row">
                                        <div class="col-4">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>CPR Number</mat-label>
                                                <input #cprno type="text" formControlName="cprno" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-8">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Name</mat-label>
                                                <input type="text" formControlName="name" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!--<div class="row">
                                        <div class="col-4">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Address 1</mat-label>
                                                <input type="text" formControlName="add1" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Address 2</mat-label>
                                                <input type="text" formControlName="add2" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Address 3</mat-label>
                                                <input type="text" formControlName="add3" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>-->
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Mobile Number</mat-label>
                                                <input type="text" formControlName="mobile" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Email ID</mat-label>
                                                <input type="text" formControlName="email" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Appoint Proxy</mat-label>
                                                <mat-select #memberType formControlName="memberType" required (focusout)="checkProxy(memberType.value)">
                                                    <mat-option value="Y"> Yes </mat-option>
                                                    <mat-option value="N"> No </mat-option>
                                                  </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Balance Payment</mat-label>
                                                <input type="text" formControlName="balance" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="col-6">
                                    <h6>Eligibility: Please note that you are only eligible to attend the AGM if you have submitted all the requisite documents.</h6>
                                    <ng-container formArrayName="properties">
                                        <div class="row" *ngFor="let prop of properties.controls; let i = index;" [formGroupName]="i">
                                            <mat-card>
                                                <mat-card-content>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>Unit Number</mat-label>
                                                                <input type="text" formControlName="pHFNo" matInput readonly>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-6">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>Title Deed</mat-label>
                                                                <input type="text" formControlName="pParcelNo" matInput readonly>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>Government ID</mat-label>
                                                                <input type="text" formControlName="pCPRStatus" matInput readonly disabled [ngStyle]="{'color': (properties.at(i).value.pCPRStatus === 'Invalid') ? 'darkred' :(properties.at(i).value.pCPRStatus === 'Not Submitted') ? 'darkred' : (properties.at(i).value.pCPRStatus === 'In Process') ? 'goldenrod' : (properties.at(i).value.pCPRStatus === 'Valid') ? 'green' : '', 'background-color': (properties.at(i).value.pCPRStatus === 'Invalid') ? 'tomato' : (properties.at(i).value.pCPRStatus === 'Not Submitted') ? 'tomato' : (properties.at(i).value.pCPRStatus === 'In Process') ? 'yellow' : (properties.at(i).value.pCPRStatus === 'Valid') ? 'lightgreen' : ''}">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-4">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>Title Deed</mat-label>
                                                                <input type="text" formControlName="pTitleDeedStatus" matInput readonly disabled [ngStyle]="{'color': (properties.at(i).value.pTitleDeedStatus === 'Invalid') ? 'darkred' :(properties.at(i).value.pTitleDeedStatus === 'Not Submitted') ? 'darkred' : (properties.at(i).value.pTitleDeedStatus === 'In Process') ? 'goldenrod' : (properties.at(i).value.pTitleDeedStatus === 'Valid') ? 'green' : '', 'background-color': (properties.at(i).value.pTitleDeedStatus === 'Invalid') ? 'tomato' : (properties.at(i).value.pTitleDeedStatus === 'Not Submitted') ? 'tomato' : (properties.at(i).value.pTitleDeedStatus === 'In Process') ? 'yellow' : (properties.at(i).value.pTitleDeedStatus === 'Valid') ? 'lightgreen' : ''}">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-4">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>EWA Payment</mat-label>
                                                                <input type="text" formControlName="pEWAReceiptStatus" matInput readonly disabled [ngStyle]="{'color': (properties.at(i).value.pEWAReceiptStatus === 'Invalid') ? 'darkred' :(properties.at(i).value.pEWAReceiptStatus === 'Not Submitted') ? 'darkred' : (properties.at(i).value.pEWAReceiptStatus === 'In Process') ? 'goldenrod' : (properties.at(i).value.pEWAReceiptStatus === 'Valid') ? 'green' : '', 'background-color': (properties.at(i).value.pEWAReceiptStatus === 'Invalid') ? 'tomato' : (properties.at(i).value.pEWAReceiptStatus === 'Not Submitted') ? 'tomato' : (properties.at(i).value.pEWAReceiptStatus === 'In Process') ? 'yellow' : (properties.at(i).value.pEWAReceiptStatus === 'Valid') ? 'lightgreen' : ''}">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <br>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="row" *ngIf="hasProxy">
                                <div class="col-8">
                                    <h6>Please enter the details of the person you are nominating as your proxy for the AGM and upload the attested proxy form.</h6>
                                    <div class="row">
                                        <div class="col-4">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>CPR Number</mat-label>
                                                <input #cprno type="text" formControlName="proxcprno" matInput (focusout)="getProxyDetails(cprno.value)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-8">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Name</mat-label>
                                                <input type="text" formControlName="proxname" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Mobile Number</mat-label>
                                                <input type="text" formControlName="proxmobile" matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Email ID</mat-label>
                                                <input type="text" formControlName="proxemail" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="col-4">
                                    <mat-card>
                                        <mat-card-content>
                                            <div class="col-12">
                                                <mat-form-field class="full-width"> 
                                                    <mat-label>Name</mat-label>
                                                    <input type="text" formControlName="proxDoc" accept="application/pdf" matInput>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12">
                                                 <pdf-viewer [src]="proxySrc" [original-size]="false" style="height: 100%; width: 100%;"></pdf-viewer>
                                            </div>
                                            <div class="col-12">
                                                <input id="pDocumentSource" type="file" class="form-control" (change)="onFileChange($event,'X')">
                                            </div>
                                            <div class="col-12">
                                                <button class="btn-danger btn text-white btn-sm" title="Cancel this document" (click)="deleteDocument()">
                                                    <mat-icon>delete</mat-icon> 
                                                </button>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <p [ngStyle]="getMessageStyles(mesBgdColour,mesTxtColour,mexBorColour)" style="height: 7.5vh; width: 100%; text-align: center; padding-top: 1%;">{{ messageString }}</p>
                                </div>
                                <div class="col-3">
                                    <div class="col-12" *ngIf="registerLink">
                                        <button mat-raised-button class="bg-success text-white btn btn-block" (click)="submitRegistration()" title="Submit Registration">
                                            Register for AGM
                                        </button>
                                    </div>
                                    <div class="col-12" *ngIf="resubmitLink">
                                        <button mat-raised-button class="bg-danger text-white btn btn-block" [routerLink]="['/home/account']" title="Submit Documents">
                                            Submit Documents
                                        </button>
                                    </div>
                                    <div class="col-12" *ngIf="closewitlink">
                                        <button mat-raised-button class="bg-warning text-white btn btn-block" (click)="closeDialog()" title="Cancel Registration">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </div>
            <div class="col-12">
                <ng-template #BoardLookupDialog >
                    <h3 matDialogTitle>
                        <b>Nominations of Candidate for Board Election 2023-24</b>
                    </h3>
                    <hr>
                    <div mat-dialog-content>
                        <form class="form-container" [formGroup]="propertyForm">
                            <div class="row">
                                <div class="col-10">
                                    <h6>Please confirm the validity of the below mentioned details. If there are any discrepancies, kindly notify us via email: info@floatingcityamwaj.com</h6>
                                    <div class="row">
                                        <div class="col-2">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>CPR Number</mat-label>
                                                <input #cprno type="text" formControlName="cprno" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Name</mat-label>
                                                <input type="text" formControlName="name" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-2">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Mobile Number</mat-label>
                                                <input type="text" formControlName="mobile" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-3">
                                            <mat-form-field class="full-width"> 
                                                <mat-label>Email ID</mat-label>
                                                <input type="text" formControlName="email" matInput readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <img [src]="imageSrc" *ngIf="imageSrc" style="width:100%">
                                        <input id="imgDoc" type="file" class="form-control" 
                                        (change)="onFileChange($event,'I')">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-8">
                                    <h6>Please upload the following Documents in support of your nomination:</h6>
                                    <div class="row">
                                        <div class="col-4">
                                            <mat-card>
                                                <mat-card-content>
                                                    <div class="col-12">
                                                        <mat-form-field class="full-width"> 
                                                            <mat-label>Application Form</mat-label>
                                                            <input type="text" formControlName="appDoc" accept="application/pdf" matInput>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-12">
                                                         <pdf-viewer [src]="appSrc" [original-size]="false" style="height: 100%; width: 100%;"></pdf-viewer>
                                                    </div>
                                                    <div class="col-12">
                                                        <input id="appDoc" type="file" class="form-control" (change)="onFileChange($event,'P')">
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn-danger btn text-white btn-sm" title="Cancel this document" (click)="deleteDocument()">
                                                            <mat-icon>delete</mat-icon> 
                                                        </button>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-4">
                                            <mat-card>
                                                <mat-card-content>
                                                    <div class="col-12">
                                                        <mat-form-field class="full-width"> 
                                                            <mat-label>Clearance Certificate</mat-label>
                                                            <input type="text" formControlName="ccrDoc" accept="application/pdf" matInput>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-12">
                                                         <pdf-viewer [src]="ccrSrc" [original-size]="false" style="height: 100%; width: 100%;"></pdf-viewer>
                                                    </div>
                                                    <div class="col-12">
                                                        <input id="ccrDoc" type="file" class="form-control" (change)="onFileChange($event,'C')">
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn-danger btn text-white btn-sm" title="Cancel this document" (click)="deleteDocument()">
                                                            <mat-icon>delete</mat-icon> 
                                                        </button>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-4">
                                            <mat-card>
                                                <mat-card-content>
                                                    <div class="col-12">
                                                        <mat-form-field class="full-width"> 
                                                            <mat-label>Good Conduct Certificate</mat-label>
                                                            <input type="text" formControlName="gccDoc" accept="application/pdf" matInput>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-12">
                                                         <pdf-viewer [src]="gccSrc" [original-size]="false" style="height: 100%; width: 100%;"></pdf-viewer>
                                                    </div>
                                                    <div class="col-12">
                                                        <input id="gccDoc" type="file" class="form-control" (change)="onFileChange($event,'G')">
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn-danger btn text-white btn-sm" title="Cancel this document" (click)="deleteDocument()">
                                                            <mat-icon>delete</mat-icon> 
                                                        </button>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <ng-container formArrayName="properties">
                                        <div class="row" *ngFor="let prop of properties.controls; let i = index;" [formGroupName]="i">
                                            <mat-card>
                                                <mat-card-content>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>Unit Number</mat-label>
                                                                <input type="text" formControlName="pHFNo" matInput readonly>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-6">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>Title Deed</mat-label>
                                                                <input type="text" formControlName="pParcelNo" matInput readonly>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!--<div class="col-4">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>Government ID</mat-label>
                                                                <input type="text" formControlName="pCPRStatus" matInput readonly disabled [ngStyle]="{'color': (properties.at(i).value.pCPRStatus === 'Not Submitted') ? 'darkred' : (properties.at(i).value.pCPRStatus === 'In Process') ? 'goldenrod' : (properties.at(i).value.pCPRStatus === 'Valid') ? 'green' : '', 'background-color': (properties.at(i).value.pCPRStatus === 'Not Submitted') ? 'tomato' : (properties.at(i).value.pCPRStatus === 'In Process') ? 'yellow' : (properties.at(i).value.pCPRStatus === 'Valid') ? 'lightgreen' : ''}">
                                                            </mat-form-field>
                                                        </div>-->
                                                        <div class="col-6">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>Title Deed</mat-label>
                                                                <input type="text" formControlName="pTitleDeedStatus" matInput readonly disabled [ngStyle]="{'color': (properties.at(i).value.pTitleDeedStatus === 'Not Submitted') ? 'darkred' : (properties.at(i).value.pTitleDeedStatus === 'In Process') ? 'goldenrod' : (properties.at(i).value.pTitleDeedStatus === 'Valid') ? 'green' : '', 'background-color': (properties.at(i).value.pTitleDeedStatus === 'Not Submitted') ? 'tomato' : (properties.at(i).value.pTitleDeedStatus === 'In Process') ? 'yellow' : (properties.at(i).value.pTitleDeedStatus === 'Valid') ? 'lightgreen' : ''}">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-6">
                                                            <mat-form-field class="full-width"> 
                                                                <mat-label>EWA Payment</mat-label>
                                                                <input type="text" formControlName="pEWAReceiptStatus" matInput readonly disabled [ngStyle]="{'color': (properties.at(i).value.pEWAReceiptStatus === 'Not Submitted') ? 'darkred' : (properties.at(i).value.pEWAReceiptStatus === 'In Process') ? 'goldenrod' : (properties.at(i).value.pEWAReceiptStatus === 'Valid') ? 'green' : '', 'background-color': (properties.at(i).value.pEWAReceiptStatus === 'Not Submitted') ? 'tomato' : (properties.at(i).value.pEWAReceiptStatus === 'In Process') ? 'yellow' : (properties.at(i).value.pEWAReceiptStatus === 'Valid') ? 'lightgreen' : ''}">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <br>
                                    </ng-container>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-9">
                                    <h6>Please note that you are only eligible to file your nomination once you have submitted all the requisite documents.</h6>
                                </div>
                                <div class="col-3">
                                    <button mat-raised-button class="bg-success text-white btn btn-block" (click)="submitNomination()" title="Submit Nomination">
                                        Submit  Nomination
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>    
</div>

<div class="col-12">
    <ng-template #infoLookupDialog >
        <h3 matDialogTitle>
            <div class="row">
                <div class="col-9">
                    <b>How to register for AGMs and Board Elections?</b>
                </div>
                <div class="col-3">
                    <button class="btn btn-danger btn-block" (click)="closeInfo()">&#10005; Close Guide</button>
                </div>
            </div>
        </h3>
        <hr>
        <mat-dialog-content> 
            <mat-tab-group>
                <mat-tab label="AGM Registration">
                    <br>
                    <ul>
                        <li><u>Step 1:</u><br>If you wish to register yourself for the upcoming AGM, kindly go through the requisites mentioned in the gold expansion, and click on the button below to file your registration.</li><br>
                        <img src="./../../../../assets/steps/agm-1.png" style="width: 100%;"><br>
                        <li><u>Step 2:</u><br>Please confirm the validity of the below mentioned details. If there are any discrepancies, kindly notify us via email: info@floatingcityamwaj.com.</li><br>
                        <img src="./../../../../assets/steps/agm-2.png" style="width: 100%;"><br>
                        <li><u>Step 3:</u><br>The eligibility of your candidacy will be subject to scrutiny of these documents such as your Government ID (CPR, Passport, etc.), your property Title Deeds, and the EWA Payment Receipt. If the documents have not yet been approved by the Admin, they will be shown in yellow as "In Process". If the documents have been verified,they will be in either green or red depending on whether the Admin has confirmed or denied your documents.</li><br>
                        <li><u>Step 4:</u><br>If all your documents are valid, you are eligible to attend the AGM, click on submit to file your registration and a confirmation email will be sent acknowledging receipt of your registration.</li><br>
                    </ul>
                </mat-tab>
                <mat-tab label="Board Election Nomination">
                    <br>
                    <ul>
                        <li><u>Step 1:</u><br>If you wish to nominate yourself for the upcoming board election, kindly go through the requisites mentioned in the red expansion, and click on the button below to file your candidacy.</li><br>
                        <img src="./../../../../assets/steps/election-1.png" style="width: 100%;"><br>
                        <li><u>Step 2:</u><br>Please confirm the validity of the below mentioned details. If there are any discrepancies, kindly notify us via email: info@floatingcityamwaj.com. Kindly upload the respective documents in support of your nomination: Copy of your passport, copy of your CPR and a certificate of Good conduct.</li><br>
                        <img src="./../../../../assets/steps/election-2.png" style="width: 100%;">
                        <li><u>Step 3:</u><br>The eligibility of your candidacy will be subject to scrutiny of these documents such as your Government ID (CPR, Passport, etc.), your property Title Deeds, and the EWA Payment Receipt. Also do not forget to upload a recent passport sized photgraph of yourself for the ballot paper at the election. Click on submit to file your nomination and a confirmation email will be sent acknowledging receipt of your candidacy. </li><br>
                    </ul>
                </mat-tab>                
            </mat-tab-group>
        </mat-dialog-content>
    </ng-template>
</div>