<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <h2 class="heading-title">Announcements</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5 style="text-align: center; "><u>Announcement</u></h5>
                    <p style="text-align: justify;">Date: 04 August 2024</p>
                    <p style="text-align: justify;"><b>Dear Members of the Floating City Owners Association,</b></p>
                    <p style="text-align: justify;"><u>Subject: Announcement of Board of Directors Nominations for the Floating City Owners Association</u></p>
                    <p style="text-align: justify;">We would like to inform you that the date of the upcoming regular general assembly meeting of the Floating City Owners Association will soon be set. As the current Board of Directors' term has expired, nominations for the Floating City Board of Directors are now open.
                    </p>
                    <p style="text-align: justify;">If you are interested in nominating yourself for the Board of Directors, please fill out the nomination form and submit it through the website at www.floatingcityamwaj.com<br><br>The requirements to be eligible for the Board of Directors are:
                    </p>
                    <ol>
                        <li>You must be an owner of a property in the Floating City.</li>
                        <li>You must be a resident of the Kingdom of Bahrain.</li>
                        <li>Only one member per property can be nominated.</li>
                        <li>You must not have been convicted of bankruptcy in the last 5 years, as per Article 35 of Resolution No. 1, 2020.</li>
                        <li>Your association must have paid its full annual fees.</li>
                    </ol>
                    <p style="text-align: justify;">The following documents must be submitted along with the nomination form:
                    </p>
                    <ol>
                        <li>A personal photo (passport-size).</li>
                        <li>Copy of your ID card.</li>
                        <li>Copy of your passport.</li>
                        <li>Copy of your property ownership document.</li>
                        <li>Certificate of good conduct.</li>
                        <li>Clearance certificate from the Floating City accountant</li>
                    </ol>
                    <p style="text-align: justify;">The deadline for submitting applications for candidacy for membership in the Board of Directors of the Floating City Main Owners Association is August 18, 2024. No applications for candidacy will be accepted after this date. The owners will vote for their chosen candidate to be elected to membership in the Board of Directors.
                    </p>
                    <p style="color: red; text-align: justify;"><u>For company-owned units:</u></p>
                    <ul>
                        <li>Please stamp the form with the company seal and include the authorized signature.</li>
                        <li>Provide a copy of the commercial registration and authorization documents.</li>
                        <li>If the unit is bank-owned, provide a copy of the sales contract and a no-objection letter from the bank.</li>
                    </ul>
                </div>
                <div class="col-6" dir="rtl" lang="ar" style="float: right;text-align: right; ">
                    <h5 style="text-align: center; "><u>الإعلان</u></h5>
                    <p style="text-align: justify; ">التاريخ: 4 أغسطس ٢٠٢٤</p>
                    <p style="text-align: justify; "><b>السادة اعضاء الجمعية العمومية لاتحاد ملاك المدينة العائمة الموقرين</b></p>
                    <p style="text-align: justify; "><u>الموضوع : إعلان فتح باب الترشح لعضوية مجلس إدارة جمعية اتحاد ملاك المدينة العائمة</u></p><br>
                    <p dir="rtl" lang="ar" style="float: right;text-align: right;text-align: justify;">
                        نود إحاطتكم علماً بأنه سيتم قريباً تحديد موعد انعقاد الجمعية العمومية الاعتيادية لجمعية اتحاد ملاك المدينة العائمة ، وحيث إن فترة عضوية أعضاء مجلس الإدارة الحالي قد انتهت فقد تم فتح باب الترشح لعضوية مجلس
                         إدارة جمعية اتحاد الملاك الجديد.</p>                    
                    <p dir="rtl" lang="ar" style="float: right;text-align: right;text-align: justify;">إذا كنت ترغب في الترشح لعضوية مجلس الإدارة، يرجى ملء نموذج الترشح والتقدم به عبر الموقع الإلكتروني www.floatingcityamwaj.com .<br><br>يجب أن تتوفر في المرشح الشروط التالية:
                    </p>
                    <ol>
                        <li>أن يكون من ملاك الوحدات في المدينة العائمة</li>
                        <li>أن يكون مقيماً في مملكة البحرين</li>
                        <li> ألا يمثل المالك بأكثر من عضو في مجلس الإدارة</li>
                        <li> ألا يكون محكوماً عليه بالإفلاس خلال الخمس سنوات السابقة على الترشح وفقاً للمادة 35 من القرار رقم 1 2020</li>
                    </ol>
                    <p dir="rtl" lang="ar" style="float: right;text-align: right;text-align: justify;">
                        بالنسبة لأعضاء الاتحادات الفرعية، يجوز لرئيس المجلس الترشح لعضوية مجلس إدارة المدينة العائمة أو تخويل أي عضو من أعضاء
                        
                        الاتحاد الفرعي، وذلك عن طريق عقد اجتماع للجمعية العمومية وتخويله بالنيابة عن رئيس المجلس بالترشح وحضور اجتماع الجمعية
                        
                        العمومية للمدينة العائمة، والحصول على موافقة أكثر من 50% من أعضاء الاتحاد الفرعي . ويجب أن يكون الاتحاد الفرعي مسدد كامل
                        
                        الرسوم السنوية الخاصة به.
                        
                        </p>
                    <p style="text-align: justify; ">المرفقات المطلوبة مع استمارة الترشح
                    </p>
                    <ol>
                        <li>
                            صورة شخصية (نفس مواصفات صورة جواز السفر )</li>
                        <li> صورة من بطاقة الهوية</li>
                        <li> صورة من جواز السفر</li>
                        <li>صورة من وثيقة الملكية</li>
                        <li>شهادة حسن السيرة والسلوك</li>
                        <li>شهادة بسداد الرسوم السنوية لغاية 31 مارس 2024 من محاسب المدينة العائمة</li>
                    </ol>
                    <p style="text-align: justify; ">
                        أخر موعد لتسليم طلبات الترشح لعضوية مجلس ادارة اتحاد المدينة العائمة هو 18 أغسطس 2024 ولن تقبل اي طلبات للترشح بعد هذا
                        
                        التاريخ سيصوت الملاك لمرشهم المختار ليتم انتخابه لعضوية مجلس الادارة سيصبح المرشحون الذين حصلوا على أكثر عدد من الأصوات أعضاء مجلس ادارة جمعية اتحاد المدينة العائمة</p>
                    <p style="color: red;text-align: justify;"><u>
                        ملاحظة للشركات</u>                  
                    </p>
                    <ul>
                        <li>يرجى ختم هذه الاستمارة بالختم الرسمي للشركة وتوقيعها بالتوقيع المصرح به.
                        </li>
                        <li>
                            مع إرفاق نسخة من السجل التجاري ومستخرج السجل، بالإضافة إلى نموذج الوكالة / التخويل.</li>
                        <li>في حال كانت الوحدة مملوكة عن طريق البنك، يرجى تزويدنا بنسخة من عقد البيع ورسالة عدم ممانعة من البنك</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>