<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <div class="row">
                    <div class="col-9">
                        <h2 class="heading-title">Profile</h2>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-12">
                <h1 style="text-align: center;">
                    <i class="fa fa-cogs"></i>
                </h1>
                <h3 style="text-align: center;">
                    This page is currently being integrated with the finance module
                </h3>
            </div>
        </div>
    </div>
</div>
