<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <div class="row">
                    <div class="col-12">
                        <h2 class="heading-title">Document List</h2>
                    </div>
                </div>
                <hr>
                <mat-tab-group>
                    <mat-tab label="Document Details">
                        <br>
                        <div class="col-12">
                            <b>Search</b>
                            <mat-form-field>
                                <mat-icon matPrefix>search</mat-icon>
                                <input matInput type="text" style="color: black;" placeholder="Please Enter Your Seach Keyword to filter" (keyup)="quickMemberSearch()" [(ngModel)]="membSearchValue">
                            </mat-form-field>
                        </div>
                        <hr>
                        <div class="col-12">
                            <mat-table [dataSource]="memberListDataSource" class="mat-table" matSort matSortDisableClear [multiTemplateDataRows]="true">
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let row">
                                        <button md-fab-button color="primary" class="btn-w-sm ml-2" (click)="row.isExpanded = !row.isExpanded">+</button>
                                    </mat-cell>
                                </ng-container>
                        
                                <ng-container matColumnDef="memberno">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> CPR Number </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.MemberNo }} </mat-cell>
                                </ng-container>
                        
                                <ng-container matColumnDef="NAME">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row.TITLE }} {{ row.NAME }} {{ row.SURNAME }}</mat-cell>
                                </ng-container>
        
                                <ng-container matColumnDef="buttons">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                    <mat-cell *matCellDef="let row">            
                                        <button md-raised-button color="primary" class="btn-w-md ml-2 mat-button text-white" (click)="gotoDocumentDetails('/crm/document/details', row.CPRNo)">Send Reminder</button>
                                    </mat-cell>
                                </ng-container>
                        
                                <ng-container matColumnDef="expandedDetail">
                                    <mat-cell class="nested-detail-row-cell-narrow" *matCellDef="let row;">
                                        <div class="detail-row-container" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
                                            <div class="detail-cell-container">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <img [src]="row.imageSrc" *ngIf="row.imageSrc" style="width:100%">
                                                        </div>
                                                    </div>
                                                    <div class="col-5">
                                                        <div class="detail-cell-content">
                                                            <br>
                                                            <b>Submitted Documents :</b>
                                                            <br>
                                                            <table class="table" *ngIf="row.documents.length > 0">
                                                                <tr>
                                                                    <th>Document Type</th>
                                                                    <th>Document Name</th>
                                                                    <th>Document Status</th>
                                                                </tr>
                                                                <tr *ngFor="let doc of row.documents">
                                                                    <td>{{ doc.docdesc }}</td>
                                                                    <td>{{ doc.documentname }}</td>
                                                                    <td>{{ doc.documentstatus }}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-1"></div>
                                                    <div class="col-4">
                                                        <div class="detail-cell-content">
                                                            <br>
                                                            <b>Documents to be submitted:</b>
                                                            <br>
                                                            <div *ngIf="row.unknownDocuments.length === 0">
                                                                All necessary documents submitted.
                                                            </div>
                                                            <div *ngIf="row.unknownDocuments.length != 0">
                                                                <table class="table">
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Document Type</th>
                                                                    </tr>
                                                                    <tr *ngFor="let doc of row.unknownDocuments; let i = index">
                                                                        <td>{{ i+1 }}</td>
                                                                        <td>{{ doc.docdesc }}</td>
                                                                    </tr>
                                                                </table>                                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="columnMemberDefs;sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: columnMemberDefs;" class="student-element-row" [class.student-expanded-row]="row.isExpanded"></mat-row>
                                <mat-row class="student-detail-row" *matRowDef="let row; columns: ['expandedDetail'];"> </mat-row>
                            </mat-table>
                            <mat-paginator #paginator [pageSize]="100" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </mat-tab>
                    <mat-tab label="Documents yet to be verified">
                        <br>
                        <div class="col-12">
                            <b>Search</b>
                            <mat-form-field>
                                <mat-icon matPrefix>search</mat-icon>
                                <input matInput type="text" style="color: black;" placeholder="Please Enter Your Seach Keyword to filter" (keyup)="quickDocSearch()" [(ngModel)]="docSearchValue">
                            </mat-form-field>
                        </div>
                        <hr>
                        <div class="col-12">
                            <mat-table #table1 [dataSource]="docListDataSource" matTableExporter class="mat-table" matSort matSortDisableClear [multiTemplateDataRows]="true">
                                <ng-container matColumnDef="memberno">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> CPR NO </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.REC_ID }} </mat-cell>
                                </ng-container>
    
                                <ng-container matColumnDef="NAME">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> NAME </mat-header-cell>
                                    <mat-cell *matCellDef="let row" > {{ row.NAME }} </mat-cell>
                                </ng-container>
    
                                <ng-container matColumnDef="HOUSE">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> HOUSE </mat-header-cell>
                                    <mat-cell *matCellDef="let row" > {{ row.HOUSE_FLAT_NO }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="DOCUMENTNAME">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENT NAME </mat-header-cell>
                                    <mat-cell *matCellDef="let row" > {{ row.DOCUMENTNAME }}</mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="TYPE">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </mat-header-cell>
                                    <mat-cell *matCellDef="let row" > {{ row.DOCUMENTTYPE }}</mat-cell>
                                </ng-container>
                  
                                <ng-container matColumnDef="STATUS">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.DOCUMENTSTATUS }} </mat-cell>
                                </ng-container>                            
    
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> 
                                        <div class="row">
                                            <div class="col-3">
                                                <button class="btn-primary btn btn-sm" title="View Document" (click)="goToLink(row.DOCUMENTNAME)">
                                                    <mat-icon>arrow_right</mat-icon> 
                                                </button>
                                            </div>
                                            <div class="col-3">
                                                <button class="btn-success btn btn-sm" title="Approve Document" (click)="validateDoc(row,'Valid')">
                                                    <mat-icon>check</mat-icon> 
                                                </button>     
                                            </div>
                                            <div class="col-3">
                                                <button class="btn-danger btn btn-sm" title="Discard Document" (click)="validateDoc(row,'Invalid')">
                                                    <mat-icon>close</mat-icon> 
                                                </button> 
                                            </div>
                                            <div class="col-3">
                                                <button class="btn-warning btn btn-sm" title="Discard Document">
                                                    <mat-icon>
                                                        notifications_active
                                                    </mat-icon> 
                                                </button> 
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>
                      
                                <mat-header-row *matHeaderRowDef="columnDocDefs"></mat-header-row>
                                <mat-row matRipple *matRowDef="let row; columns: columnDocDefs;"></mat-row>
                            </mat-table>
                            <mat-paginator #paginator [pageSize]="100" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
