<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <h2 class="heading-title">Overview</h2>
            </div>
            <hr>
            <div class="col-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle *ngFor="let m of votingList; let i = index">
                        <mat-expansion-panel-header>
                            <mat-panel-title> 
                                <h6>{{ m.AGMDATE | date: 'longDate' }}</h6> 
                            </mat-panel-title>
                            <mat-panel-description>{{ m.AGMNAME }} | ({{m.AGMSTATUS}})</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-6">                                
                                <h6>Analytics</h6>  
                                <hr>
                                <div class="chart-wrapper" *ngIf="m.chartDataReady">
                                    <canvas baseChart #baseChart [data]="pieChartData[i]" [labels]="pieChartLabels" [colors]="pieChartColors" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend"></canvas>
                                </div>
                                <div class="col-12">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <th>Member Registered</th>
                                                <td>{{ m.REGISTEREDMEMBERS }}</td>
                                            </tr>
                                            <tr>
                                                <th>Members who voted</th>
                                                <td>{{ m.VOTEDMEMBERS }}</td>
                                            </tr>
                                            <tr>
                                                <th>Members who did not vote</th>
                                                <td>{{ m.NOTVOTEDMEMBERS }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6>Categories</h6>     
                                <hr> 
                                <div class="row">
                                    <div class="col-12" *ngFor="let cat of m.categories; let i = index" (click)="gotoVotingDetails(m.AGMCODE,m.AGMSTATUS,cat.BLCATEGORY,m.AGMYEAR)">
                                        <mat-card>
                                            <mat-card-content>
                                                <h5>
                                                    {{ i+1 }} | {{ cat.BLCATEGORY }}
                                                </h5>
                                                <h6 style="color: red;" *ngIf="m.AGMSTATUS=='Upcoming'">Click on the card to cast your vote.</h6>
                                                <h6 style="color: red;" *ngIf="m.AGMSTATUS=='Closed'">Click on the card to view results for this vote.</h6>
                                            </mat-card-content>
                                        </mat-card>
                                        <br>
                                    </div>
                                </div>                          
                            </div>
                        </div>
                        <div class="col-12" *ngIf="m.AGMLOCATION=='ELECTION'">
                            <h6>Candidate List</h6>  
                            <hr>
                            <div class="row">
                                <div class="col-3" *ngFor="let row of memberList; let i = index">
                                    <mat-card>
                                        <mat-card-content>
                                            <p>{{ i+1 }} | {{ row.name }}</p>
                                            <div class="row">
                                                <div class="col-12">
                                                    <img [src]="row.imageSrc" *ngIf="row.imageSrc" style="width:100%;border-radius: 10%;float: centre;">
                                                </div>
                                                <div class="col-12">
                                                    <p>CPR Number: {{ row.memberno }}</p>
                                                    <!--<p>Mobile Number: {{ row.mobile }}</p>-->
                                                    <!--<p>Villa/Plot Number: {{ row.properties }}</p>-->
                                                    <p>Email ID: {{ row.email }}</p>
                                                </div>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <br>
            </div>
        </div>
    </div>    
</div>      









<!--
<div class="row">
                <div class="col-6">
                    <h3 style="text-align: justify;">
                        <u>Floating City Main Owners Association</u>
                    </h3>
                </div>
                <div class="col-6">
                    <h3 dir="rtl" lang="ar" style="float: right;text-align: right;text-align: justify;">
                        <u>جمعية الملاك الرئيسية للمدينة العائمة</u>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>Members nominated for Board Election 2024</h5>

                </div>
                <div class="col-6">
                    <h5 dir="rtl" lang="ar" style="float: right;text-align: right;">الأعضاء المرشحون لانتخابات مجلس الإدارة 2024</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12" *ngFor="let row of memberList; let i = index">
                    <mat-card>
                        <mat-card-content>
                            <p>{{ i+1 }} | {{ row.name }}</p>
                            <div class="row">
                                <div class="col-2">
                                    <img [src]="row.imageSrc" *ngIf="row.imageSrc" style="width:100%;border-radius: 10%;">
                                </div>
                                <div class="col-10">
                                    <p>CPR Number: {{ row.memberno }}</p>
                                    <p>Mobile Number: {{ row.mobile }}</p>
                                    <p>Villa/Plot Number: {{ row.properties }}</p>
                                    <p>Email ID: {{ row.email }}</p>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <hr>
                </div>
            </div>
-->
            <!--
<div class="col-12" *ngFor="let memb of memberList; let i = index">
                <h6>{{ i+1 }} | You are voting on behalf of: {{ memb.membername }}, CPR: {{ memb.memberno }}</h6>
                <div class="row">
                    <div class="col-lg-4 col-sm-12" *ngFor="let vT of votingType; let i = index" (click)="gotoVotingDetails('/voting/details',vT.BLCATEGORY,vT.YEAR, memb.memberno, memb.membername, memb.membertype)">
                        <mat-card>
                            <mat-card-content>
                                <h4>
                                    {{ i+1 }} | {{ vT.YEAR }}    
                                </h4>
                                <hr>
                                <h4>
                                    {{ vT.BLCATEGORY }}
                                </h4>
                                <h6 style="color: red;">Click on the card to cast your vote.</h6>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <br>
            </div>
            <hr>
            <div class="col-12">
                <mat-card>
                    <mat-card-content>
                        <h5>
                            Dear F C Owner, <br><br>
                            Voting for the 2022-23 AGM has now concluded. The results of this vote will be available to view and download as soon as they are declared.<br><br>
                            We would therefore like to thank you for your participation in this vote.
                        </h5>
                    </mat-card-content>
                </mat-card>
            </div>-->